<!-- index.ejs -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>User List</title>
</head>

<body>
  <h1>User Data </h1>
  <ul>

    <%= user.username %>
    <li><a href="/myuploads">My Uploads</a></li>
    <li><a href="/shared-with-me">Shared with Me</a></li>
    <li><a href="/my-shared-links">My Shared Links</a></li>
    


  </ul>
</body>

</html>